html, body{
	font-size: 100%;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}
body a,.grid_1,plan_1,plan_1.one,plan_1.two,i.icon1, i.icon2, i.icon3, i.icon4, i.icon5, i.icon6 {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"],li.parallelogram{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Roboto Condensed', sans-serif;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- top-header --*/
.logo a {
    color: #03b411;
    letter-spacing: 1px;
    font-size: 2em;
    font-weight: 400;
    display: block;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
.logo span {
    color:#034ab4;
}
i.fa.fa-home {
    font-size: 24px;
}
.top-header {
    background-color: #034ab4;
    border-bottom: 0 none;
	height: 36px;
    line-height: 35px;
}
ul.tp-hd-lft{
    float: left;
}
ul.tp-hd-lft li {
    display: inline-block;
}
li.hm,li.prnt {
    margin-right: 12px;
}
ul.tp-hd-lft a {
    font-size: 13px;
    font-weight: 600;
	color:#fff;
}
ul.tp-hd-rgt{
    float:right;
}
ul.tp-hd-rgt li {
    display: inline-block;
	font-size: 13px;
    font-weight: 600;
	color:#fff;
}
ul.tp-hd-rgt  a {
    font-size: 13px;
    font-weight: 600;
	color:#fff;
}
li.ned,li.wrt,li.tol{
    margin-right: 12px;
}
/*-- /top-header --*/
/*-- header --*/
.header {
    background-color: #fff;
    margin: 0;
	padding: 10px 0 8px;
}
.logo a {
    display: block;
}
.logo {
    float: left;
	 margin-right: 60px;
}
.bus {
    float: left;
	padding-top: 17px;
}
.bus a {
    color: #1f8dd6;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .05em;
	padding:0 15px;
}
.lock {
    float: right;
    margin-top: 7px;
}

.lock li {
    display: inline-block;
}
i.fa.fa-lock {
    color:#1f8dd6;
    font-size: 2em;
    padding-right: 10px;
}
/*-- /header --*/
/*-- banner --*/
.banner {
    background: url(../images/banner1.jpg)no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 430px;
}
.banner h1 {
    font-size: 50px;
    margin-bottom: 40px;
    padding: 4em 0 0;
    text-align: center;
    color: #000000;
}
.bann-info h2 {
    font-size: 26px;
    margin-bottom: 30px;
    color: #34ad00;
    font-weight: 700;
}
.bann-info {
    padding: 4em 0;
}
.bnr-right input[type="text"] {
    width: 95%;
    color: #9E9E9E;
    outline: none;
    font-size: 14px;
    padding: 10px 10px;
    border: 1px solid #9E9E9E;
    -webkit-appearance: none;
    margin-top: 10px;
}
.date {
    background: url(../images/date-icon.png) no-repeat 95.5% 45% #fff;
    cursor: pointer;
}
.bnr-left input[type="text"] {
    width: 95%;
    color: #9E9E9E;
    outline: none;
    font-size: 14px;
    padding: 10px 10px;
    border: 1px solid #9E9E9E;
    -webkit-appearance: none;
    margin-top: 10px;
}
.ban-top .inputLabel,.ban-bottom  .inputLabel {
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
	color: #191919;
}
.bann-info1 {
    padding: 8em 5em 0em;
    text-align: center;
}
.bnr-right {
    float: left;
	width:50%;
}
.bnr-left {
    float: left;
	width:50%;
}
.ban-bottom{
    margin-top: 30px;
}
button.seabtn {
    padding: 6px 25px!important;
    font-size: 16px;
	 text-indent: 0;
    padding: 6px 20px;
    color: #fff;
    background-color: #034ab4;
    border: 0;
    border-radius: 2px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    background-repeat: no-repeat;
    background-position: 96% center;
} 
button.seabtn:focus,button.seabtn:hover{
    background-color:#1f8dd6;
    outline: 0;
}
.sear {
    margin-top: 30px;
}
.bann-info1 h3 {
    font-size: 2.1em;
    font-weight: 700;
    color: #34ad00;
    text-align: center;
    margin-top: 25px;
}
i.fa.fa-columns {
    font-size: 9em;
    color: #1f8dd6;
}
/*-- /banner --*/

/*-- Offers --*/
.rup-left {
    float: left;
    width: 24%;
}
.rup-rgt {
    float: left;
    width: 76%;
}
.rupes {
    padding: 5em 0;
	border-top: 1px solid rgba(236, 236, 236, 0.9);
    border-bottom: 1px solid rgba(236, 236, 236, 0.9);
}
i.fa.fa-usd{
    font-size: 5em;
    color: #1f8dd6;
}
i.fa.fa-h-square{
    font-size: 5em;
    color: #1f8dd6;
}
i.fa.fa-mobile  {
    font-size:5em;
    color: #1f8dd6;
}
.rupes h3 {
    font-size: 20px;
    color: #ad0000;
	 font-weight: 700;
}
.rupes h4 {
    font-size: 18px;
    margin: 8px 0;
    font-weight: 700;
}
.rupes h4 a{
    color: #000000;
}
.rupes h4 a:hover{
    color:#ad0000;
}
.rupes p{
    font-size: 15px;
    line-height: 1.6em;
    font-weight: 300;
	color:#999;
}
/*-- /rupes --*/
/*-- track --*/
a.learn{
    padding: 6px 25px!important;
    font-size: 16px;
    text-indent: 0;
    padding: 6px 20px;
    color: #fff;
    background-color: #ad0000;
    border: 0;
    border-radius: 2px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    display: inline-block;
}
a.learn:focus,a.learn:hover {
    background-color: #1f8dd6;
    outline: 0;
}
.track {
    padding: 5em 0;
	border-top: 1px solid rgba(236, 236, 236, 0.9);
    border-bottom: 1px solid rgba(236, 236, 236, 0.9);
}
.track h3 {
    font-size: 2em;
    font-weight: 700;
    color: #34AD00;
}
.track p {
    font-size: 1.2em;
    line-height: 1.8em;
    width: 55%;
    margin: 1.5em 0;
    color: #999;
}
.track-right {
    text-align: center;
}
i.fa.fa-map-marker {
    font-size: 3em;
    color: #34ad00;
}
.rup-left a {
    display: inline-block;
}
.track-right a {
    display: inline-block;
}
/*-- /track --*/

/*-- routes --*/
.routes {
    padding: 5em 0;
}
.rou-left {
    float: left;
    width: 23%;
}
.rou-rgt {
    float: left;
    width: 70%;
}
i.fa.fa-truck,i.fa.fa-user,i.fa.fa-ticket {
    font-size: 4em;
	color:#1f8dd6;
}
.routes h3 {
    font-size: 2em;
    font-weight: 700;
    color: #34ad00;
}
.routes p {
    font-size: 1.2em;
    color: #999;
    line-height: 1.8em;
}
/*-- /routes --*/
/*-- footer --*/
.footer-left li {
    display: inline-block;
    float: left;
    width: 33.33%;
    line-height: 1.8em;
}
.footer-left li a {
    font-size: 14px;
    color:#847777;
    display: inline-block;
}
.footer-left li a:hover{
    color:#1f8dd6;
}
.footer-top h3 {
    font-size: 1.7em;
    color: #34ad00;
    margin-bottom: 1em;
    font-weight: 700;
}
.footer-top {
    padding: 3em 0;
    background: #e8e8e8;
}
.footer-btm li {
    display: inline-block;
    margin: 0 10px;
	font-size: 14px;
    color: #fff;
}
.footer-btm li a {
    font-size: 15px;
    color: #fff;
    display: inline-block;
    padding: 5px 8px;
}
.footer-btm li a:hover{
    color:#4CFF00;
}
.footer-btm {
    background:#4CB320;
    padding: 0.5em 0;
	text-align:center;
}
.copy-right p {
    color:#fff;
    font-size:14px;
    line-height: 1.8em;
}
.copy-right p a {
    color: #fff;
}
.copy-right p a:hover {
    color:#000000;
}
.copy-right {
    background:#34ad00;
    text-align: center;
    padding: 0.5em 0;
}
/*-- /footer --*/

/*-- sign up --*/
.single-bottom input[type="checkbox"] {
    display: none;
  }
.single-bottom input[type="checkbox"]+label {
      position: relative;
      padding-left: 31px;
      border: none;
      outline: none;
      font-size: 14px;
      color: #A9A8A8;
      font-weight:normal;
}
.single-bottom input[type="checkbox"]+label span:first-child {
      width: 14px;
      height: 14px;
      display: inline-block;
      border: 2px solid #4CB320;
      position: absolute;
      left: 0;
      top: 4px;
}
.single-bottom input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background:url(../images/mark1.png)no-repeat;
    position: absolute;
    left: -1px;
    top: -1px;
    font-size: 10px;
    width:16px;
    height:16px;
}
.modal-info {
      width: 100%;
}
  /*-- //Sign up --*/
.modal-header {
      border-bottom: 1px solid #fff !important;
}
/*-- login --*/
.login-right{
	float:right;
	width:51%;
}
.login-right h3{
    color: #4CB320;
    font-weight: normal;
    font-size: 17px;

}
.login-left {
    float: left;
    width: 42%;
}
.login-right input[type="text"] ,.login-right input[type="password"] {
    width: 100%;
    padding: 10px;
    font-weight: normal;
    background: none;
    border: 1px solid #E6E4E4;
    color: #D2D1D1;
    outline: none;
    font-size: 14px;
    margin-top: 20px;
}
.login-right h4{
	color:#48cfc1;
	font-size:12px;
	margin:20px 0;
}
.login-right h4 a{
	color:#4CB320;
	text-decoration:none;
}
.login-right h4 a:hover{
	color:#A9A8A8;
}
.login-grids p a {
	color:#4CB320;
}
.login-right input[type="submit"] {
  background:#4CB320;
  color: #fff;
  font-size: 20px;
  border: none;
  width: 100%;
  outline: none;
  -webkit-appearance:none;
  padding: 10px 15px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
 margin-top:20px;
}
.login-right input[type="submit"]:hover {
	background:#3F84B1;
}
.login-grids p {
    font-size: 12px;
    margin-top: 25px;
	color:#A9A8A8;
}
.login-grids p span{
	color:#48cfc1;	
}
.login-left ul li{
	list-style-type:none;
	display:block;
    margin: 22px 0;
    font-size: 16px;
}
.login-left ul li a {
    padding: 9px 12px;
    display: block;
    text-align: left;
    color: #fff;
    text-decoration: none;
}
.login-left ul li a:hover{
	opacity:.7;
}
.login-left ul li a.fb{
	background:#3b5998;
}
.login-left ul li a.goog{
	background:#dc4e41;
}
.login-left ul li a.linkin{
	background:#00a0dc;
}
.login-left ul li a.fb i{
    background: url(../images/social.png) no-repeat -45px -1px;
    width: 24px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
}
.login-left ul li a.goog i{
    background: url(../images/social.png) no-repeat -84px 0px;
    width: 26px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
}
.login-left ul li a.linkin i{
    background: url(../images/social.png) no-repeat -3px 0px;
    width: 25px;
    height: 23px;
    display: inline-block;
    vertical-align: text-bottom;
}
/*-- //login --*/
.privacy h3 {
    color: #34AD00;
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 1em;
}
.privacy {
    padding: 5em 0;
}
.privacy p {
    font-size: 1em;
    line-height: 1.8em;
    color: #999;
    margin: 1em 0;
}
.privacy h4 {
    font-size: 1.3em;
    color: #34AD00;
    font-weight: 400;
    margin: 1em 0;
}